<<<<<<< HEAD
=======
/* $Id: dblog-rtl.css,v 1.2.2.1 2008/09/02 16:56:49 dries Exp $ */
>>>>>>> 11c42aacd2cce208210c8578843c892e1112f1a8

#edit-type-wrapper, #edit-severity-wrapper {
  float: right;
  padding-right: 0;
  padding-left: .8em;
}
