/* STYLESHEET FOR BLOG STYLES */


/* HEADER
--------------------------------*/

.journal #event-info{
  left: 242px;
  top: 16px;
}

.journal #header{
  background: #fff;
}

.journal #header{
  background: url('../images/blog-stamp.jpg') no-repeat #fffef8;
  background-position: 22px 14px;
}

.blog-logo{
  
}

.journal .social-media-links{
  display: none;
}

/* BLOG NAV
--------------------------------*/

.journal #navigation ul.nice-menu{
  background: none !important;
  text-align: center;
  display: inline-block !important;
  width: 960px;
}

.journal #navigation ul li{
  float: none;
  display: inline-block;
}



.journal #navigation{
  background: url('../images/blog-nav-bar.png') #fffef8;
  height: 30px;
  margin: 0 0 18px -1px;
}

.journal #navigation li a{
  font-family: 'lhf_egyptianregular', arial !important;
  font-size: 22px !important;
  font-weight: normal !important;
  padding: 1px 23px 0px !important;
  display: inline-block !important;
}

.menu-path-taxonomy-term-239 a,
.Inspiration a,
.Inspiration{
  color: #8f3271 !important; 
}

.menu-path-taxonomy-term-239 a.active,
.menu-path-taxonomy-term-239 a:hover{
  text-shadow: 0 0 9px #8f3271;
}

.menu-path-taxonomy-term-240 a,
.Mindfulness a,
.Mindfulness{
  color: #5c4182 !important;  
}

.menu-path-taxonomy-term-240 a.active,
.menu-path-taxonomy-term-240 a:hover{
  text-shadow: 0 0 9px #5c4182;
}

.menu-path-taxonomy-term-236 a,
.Adventure a,
.Adventure{
  color: #388687 !important;  
}

.menu-path-taxonomy-term-236 a.active,
.menu-path-taxonomy-term-236 a:hover{
  text-shadow: 0 0 9px #388687;
}

.menu-path-taxonomy-term-238 a,
.Eco,
.Eco a{
  color: #058042 !important;
}

.menu-path-taxonomy-term-238 a.active,
.menu-path-taxonomy-term-238 a:hover{
  text-shadow: 0 0 9px #058042;
}

.menu-path-taxonomy-term-241 a,
.Nourish a,
.Nourish{
  color: #c39d37 !important;  
}

.menu-path-taxonomy-term-241 a.active,
.menu-path-taxonomy-term-241 a:hover{
  text-shadow: 0 0 9px #c39d37;
}

.menu-path-taxonomy-term-237 a,
.Community a,
.Community{
  color: #d4793d !important;
}


.menu-path-taxonomy-term-237 a.active,
.menu-path-taxonomy-term-237 a:hover{
  text-shadow: 0 0 9px #d4793c;
}

.menu-path-taxonomy-term-242 a,
.Yoga a,
.Yoga{
  color: #d35651 !important;
}

.menu-path-taxonomy-term-242 a.active,
.menu-path-taxonomy-term-242 a:hover{
  text-shadow: 0 0 9px #d35651;
}

.journal #navigation ul.nice-menu li a{
  margin: 7px 0 0 0;
}


/* BLOG BODY
--------------------------------*/

body.journal{
  background: #fffef8;
  font-size: 14px;
  }
  
.journal .body-content{

}

.front.journal .body-content #main{
  background: url('../images/border-bg.png') top repeat-x;
  padding: 18px 0;
}


/* BLOG FEATURED POST
--------------------------------*/

.view-all-blog-posts.view-display-id-block_1 .views-field-field-blog-image-fid{
  float: left;
  margin-right: 20px;  
}

.view-all-blog-posts.view-display-id-block_1  .views-field-nothing-1,
.view-all-blog-posts.view-display-id-block_3  .views-field-nothing-1{
  clear: none !important;
  width: 320px;
  float: left;
  background: none !important;
  border: none !important;
}

.view-all-blog-posts.view-display-id-block_1 .views-field-body,
.view-all-blog-posts.view-display-id-block_3 .views-field-body{
  margin-top: 15px;
}


/* BLOG SECONDARY POSTS
--------------------------------*/
.view-all-blog-posts.view-display-id-block_2{
  float: left;
}


.view-all-blog-posts.view-display-id-block_2 div{
  width: 310px;
  margin-right: 26px;
}

#block-views-all_blog_posts-block_2{
  background: url('../images/border-bg.png') top repeat-x; 
  padding-top: 10px;
  margin-top: 8px;
}




/* BLOG INDEX
------------------------ */

.journal.page-ablogs .body-content #main{
  padding: 0;
}

.journal .body-content #main{
  padding: 0;
}

body.sidebar-right.journal #main{
  width:100% !important;
  padding:10px !important;
}

.journal .view-all-blog-posts.view-display-id-page_1 {
  width: 650px;
  margin-right: 20px;
  float:left;
}
  
.journal #sidebar-right {
  width: 300px !important;
}

.journal #blog-description {
  width:100%;
  height:40px;
}



.view-all-blog-posts .views-row {

}
  
.view-all-blog-posts .views-field-view-node{
  text-align:right;
  position:  relative;
  margin-top: -20px;
}

.view-all-blog-posts .views-field-view-node .field-content{
  padding:5px;
  font-size: 80%;
  background-color: #d6d6d6;
  margin-right:5px;
}


.panels-flexible-region-last .quicktabs_wrapper .view-blog-popular .views-field-field-blog-image-fid .field-content{
  float: left;
}

.view-all-blog-posts .views-field-title{
  line-height: 1.1;
  margin: 8px 0px 5px 0;
  
}
  
.view-all-blog-posts .views-field-title a{
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'lhf_egyptianregular', arial !important;
  letter-spacing: 1px;
  line-height: .9 !important;
}
  
.view-all-blog-posts .views-field-nothing,
.meta{
  margin: 6px 0 18px 0;
  color: #bc8d54;
  font-family: 'baskerville_fsitalic', georgia, 'times new roman';
  font-size: 16px;
  line-height: 1;

}

.view-all-blog-posts.view-display-id-page_1 .views-field-nothing{

}

.view-all-blog-posts .views-field-nothing-1{
  clear: both;
  background: url('../images/border-bg.png') repeat-x;
  padding-top: 10px;
  margin-top: 15px;
  height: 29px;
  border-bottom: 1px solid #eedac0;
  padding-bottom: 10px;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.journal .item-list ul{
  padding: 0;
}

.journal .item-list .pager{
  text-align: left;
}

.view-all-blog-posts .views-field-body{
  margin-bottom: 10px;
  font-family: calibri, arial;
  color: #47292b;
}

.view-all-blog-posts .views-row{
  clear: both;
  margin-bottom:15px;
}

.view-all-blog-posts .share-this-links{
  width: 400px;
  float: left;
}

.view-all-blog-posts .views-field-field-blog-image-fid{
  float: left;
  margin-right: 15px;  
}

.view-display-id-block_2.view-all-blog-posts .views-field-field-blog-image-fid img{

}

.view-all-blog-posts .views-field-field-blog-image-fid a{ 
  display: block;
  float: left;

  margin-bottom: 10px;
  }


.journal #event-info #block-sitesdropdown-1{
  display: none;
}

#block-block-44{
  width: 500px;
}

#block-block-44 a{
  font-size: 40px;
}


.node-type-blog .panel-flexible{
  float: left;
}


.read-more-link{
  float: right;
  width: 80px;
}

.read-more-link a{
  display: block;
  font-weight: bold;
  padding: 5px;
  width: 80px;  
  font-size: 12px;
  text-transform: uppercase;
}


.tvi-term-desc{
  margin: 8px 0;
  font-size: 16px;
  font-family: 'MrsEavesOT-Italic', georgia, 'times new roman';
  
}

/* BLOG SIDEBAR BLOCKS
------------------------ */


.panels-flexible-region-last .quicktabs_wrapper ul,
#sidebar-right .quicktabs_wrapper ul{
  margin: 0 0 9px 0;
  padding: 0;
}

.panels-flexible-region-last .quicktabs_wrapper li,
#sidebar-right .quicktabs_wrapper li{
  margin-right: 10px;
}

.panels-flexible-region-last .quicktabs_wrapper ul a.qt_tab,
#sidebar-right .quicktabs_wrapper ul a.qt_tab{
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  color: #d2b186;
  font-family: 'lhf_egyptianregular', arial;
  line-height: 1;

}

.panels-flexible-region-last .quicktabs_wrapper ul li,
#sidebar-right .quicktabs_wrapperul li{
  margin-right: 10px;
}

.panels-flexible-region-last .quicktabs_wrapper ul .active a.qt_tab,
#sidebar-right .quicktabs_wrapper ul .active a.qt_tab{
  color: #402b2b;
}


.panels-flexible-region-last .quicktabs_wrapper .view-blog-popular .views-field-field-blog-image-fid .field-content,
#sidebar-right .quicktabs_wrapper .view-blog-popular .views-field-field-blog-image-fid .field-content{
  float: left;
  padding-right: 15px;
}


.panels-flexible-region-last .quicktabs_wrapper .view-blog-popular .views-row,
#sidebar-right .quicktabs_wrapper .view-blog-popular .views-row{
  clear:both;
  margin-bottom:5px;
  padding: 10px 0 0 0; 
  background: url('../images/border-bg.png') repeat-x;
  float: left;
  width: 300px;
}

.view-blog-popular .views-field-title{
  line-height: 1;
}

.view-blog-popular .views-field-title a{
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'lhf_egyptianregular', arial;
  line-height: 0.9;
}

.view-blog-popular .views-field-totalcount,
.view-blog-popular .views-field-created{
  font-size: 10px;
  color: #b7a581;
  font-family: calibri, arial;
  font-size: 11px;  
  
}

#block-quicktabs-1 h2{
  display: none;
}

/* BLOG NODE
------------------------ */

.node-type-blog .pane-node-title .pane-title{
  display: none;
}


.node-type-blog .panels-flexible-region-inside{
}

.node-type-blog .panels-flexible-region-first,
.view-all-blog-posts.view-display-id-page_1{
  width: 614px;
  margin-right: 36px;
  float: left;
}

.blog-title {
  color: #0E4815;
  font-size: 28px;
  line-height: 1.2em;
  margin: 15px 0 10px;
  text-transform: uppercase;
  font-family: 'dejavusansbold', arial;
  font-weight: bold;
}



.node-type-blog .share-this-links{
  margin: 15px 0;
  background: url('../images/border-bg.png') repeat-x;
  padding-top: 10px; 
}

.node-type-blog .views-row{
  font-family: calibri, arial;

}

#blogs-related td{
  width: 150px;
}

#blogs-related .views-field-title{
  line-height: 0.8;
}

#blogs-related .views-field-title a{
  text-transform: uppercase;
  font-size: 20px;
  color: #3b6b60;
  font-family: 'lhf_egyptianregular', arial;
}

#blogs-related .views-field-name{
  font-size: 10px;
  color:#ccc;
}


.node-type-blog .panels-flexible-region-last{
  margin-top: 0 !important;
}


/* SIDEBAR BLOCKS
--------------------------------*/

.journal #sidebar-right .block,
.journal .photo-node-right .pane-block{
  padding: 10px 0;
  background: none;
  border: none;
}

/* BLOG DETAIL PAGE
--------------------------------*/

.pane-blog-related{
  background: url('../images/border-bg.png') top repeat-x;
  padding-top: 10px;
}

.pane-blog-related h2{
  margin-top: 15px;
}

/* BLOG CATEGORY PAGE
--------------------------------*/
.view-all-blog-posts.view-display-id-page_2 {
  width: 650px;
  margin-right: 20px;
  float: left;
}

#block-views-all_blog_posts-block_3,
#block-views-all_blog_posts-block_2 .content{
  background: url('../images/border-bg.png') bottom repeat-x;
  margin-bottom: 15px;
  padding-bottom: 15px;
  clear: both;
  float: left;
  width: 100%;
}

#block-views-all_blog_posts-block_2 .content{
  padding-bottom: 0;
}


/* BLOG FOOTER
--------------------------------*/

.journal .footer .footer-links{
  text-align: center;
  width: 70%;
  list-style: none;
}

.journal .footer .footer-links li{
  display: inline;
  padding: 0 20px;
  border-right: 1px solid #be9059;
}

.journal .footer .footer-links li.last{
  border: none;
}

.journal .footer .footer-links a{
  display: inline-block;
  font-family: calibri;
  font-size: 15px;
}

/* BLOG CHAKRA MENU
--------------------------------*/

.termdescr {
    display: none;
    position: absolute;
    text-align: center;
    width: 270px;
    z-index: 9999;
    padding: 10px;
    top: 280px;
    left: 5px;
}

.deschiden {
  height: 16px;
  width: 16px;
}

.deschiden:hover {
  cursor: pointer;
}

#block-block-45 {
    background: url('../images/chakra-menu.png') no-repeat center 47px !important;
   /* background-position: 50% 0;*/
    height: 352px;
    width: 300px  !important;
}

.deschiden.term236 {
  margin: 38px 0 0 143px;
}

.deschiden.term237 {
  margin: 16px 0 0 143px;
}

.deschiden.term238 {
  margin: 16px 0 0 143px;
}

.deschiden.term239 {
  margin: 16px 0 0 143px;
}

.deschiden.term240 {
  margin: 16px 0 0 143px;
}

.deschiden.term241 {
  margin: 16px 0 0 143px;
}

.deschiden.term242 {
  margin: 16px 0 0 143px;
}

.deschiden a.toblog {
  display: none;
}