/* STYLESHEET FOR BLOG STYLES */


/* HEADER
--------------------------------*/

.journal #event-info{
  left: 267px;
  top: 16px;
}

.journal #header{
  background: #fff;
}

.journal #header{
  background: url('../images/blog-stamp.jpg') no-repeat #fffef8;
  background-position: 22px 28px;
  height: 147px;
}

.blog-logo{
  
}

.journal .social-media-links{
  display: none;
}

.journal .tomap{
  top: 37px;
}

.journal .tomap a{
  background: url('../images/see-all-blog.gif') no-repeat;
  width: 208px;
  height: 84px;
  display: block;
}

.journal .tomap img{
  display: none;
}

/* BLOG NAV
--------------------------------*/

.journal #navigation ul.nice-menu{
  background: none !important;
  text-align: center;
  display: inline-block !important;
  width: 960px;
}

* + html .journal #navigation ul.nice-menu,
* + html .journal #navigation ul li{
display: inline;

}

.journal #navigation ul li{
  float: none;
  display: inline-block;
  margin: 0 24px 0;
}

.journal #navigation ul.nice-menu li a, 
.journal #navigation ul.nice-menu li .nolink{
  padding: 2px 4px 0px 4px !important;
  line-height: 0.8;
}


.journal #navigation{
  background: url('../images/blog-nav-bar.png') #fffef8;
  height: 30px;
  margin: 0 0 18px -1px;
}

.journal #navigation li a{
  font-family: 'Montserrat', arial !important;
  font-size: 22px !important;
  font-weight: normal !important;
  padding: 1px 23px 0px !important;
  display: inline-block !important;
}

.menu-path-taxonomy-term-236 a,
.Inspiration a,
.Inspiration,
.term236 a{
  color: #8f3271 !important; 
}

.menu-path-taxonomy-term-236 a.active,
.menu-path-taxonomy-term-236 a:hover{
  background: #8f3271;
  color: #fff !important;
}

.menu-path-taxonomy-term-237 a,
.Mindfulness a,
.Mindfulness,
.term237 a{
  color: #5c4182 !important;  
}

.menu-path-taxonomy-term-237 a.active,
.menu-path-taxonomy-term-237 a:hover{
  background: #5c4182;
  color: #fff !important;
  
}

.menu-path-taxonomy-term-238 a,
.Adventure a,
.Adventure,
.term238 a{
  color: #388687 !important;  
}

.menu-path-taxonomy-term-238 a.active,
.menu-path-taxonomy-term-238 a:hover{
  background: #388687;
  color: #fff !important;
  
}

.menu-path-taxonomy-term-239 a,
.Eco,
.Eco a,
.term239 a{
  color: #058042 !important;
}

.menu-path-taxonomy-term-239 a.active,
.menu-path-taxonomy-term-239 a:hover{
  background: #058042;
  color: #fff !important;
  
}

.menu-path-taxonomy-term-240 a,
.Nourish a,
.Nourish,
.term240 a{
  color: #c39d37 !important;  
}

.menu-path-taxonomy-term-240 a.active,
.menu-path-taxonomy-term-240 a:hover{
  background: #c39d37;
  color: #fff !important;
  
}

.menu-path-taxonomy-term-241 a,
.Community a,
.Community,
.term241 a{
  color: #d4793d !important;
}


.menu-path-taxonomy-term-241 a.active,
.menu-path-taxonomy-term-241 a:hover{
  background: #d4793c;
  color: #fff !important;
  
}

.menu-path-taxonomy-term-242 a,
.Yoga a,
.Yoga,
.term242 a{
  color: #d35651 !important;
}

.menu-path-taxonomy-term-242 a.active,
.menu-path-taxonomy-term-242 a:hover{
  background: #d35651 !important;
  color: #fff !important;
  
}

.journal #navigation ul.nice-menu li a{
  margin: 7px 0 0 0;
}


/* BLOG BODY
--------------------------------*/

.journal .body-content a:hover,
.journal .body-content a span:hover{
  color: #e1bf6d !important;
}

body.journal{
  background: #fffef8;
  font-size: 14px;
  }
  
.journal .body-content{

}

.front.journal .body-content #main{
  background: url('../images/border-bg.png') top repeat-x;
  padding: 18px 0;
}


/* BLOG FEATURED POST
--------------------------------*/

.view-all-blog-posts.view-display-id-block_1 .views-field-field-blog-image-fid{
  float: left;
  margin-right: 20px;  
}

.view-all-blog-posts.view-display-id-block_1  .views-field-nothing-1,
.view-all-blog-posts.view-display-id-block_3  .views-field-nothing-1{
  clear: none !important;
  width: 320px;
  float: left;
  background: none !important;
  border: none !important;
}

.view-all-blog-posts.view-display-id-block_1 .views-field-body,
.view-all-blog-posts.view-display-id-block_3 .views-field-body{
  margin-top: 15px;
}


/* BLOG SECONDARY POSTS
--------------------------------*/

.view-id-all_blog_posts.view-display-id-block_2 .views-field-title{
   height: 70px;
}

.view-id-all_blog_posts.view-display-id-block_2 .views-field-nothing{
  height: 33px;
  margin-bottom: 8px !important;
}


.view-all-blog-posts.view-display-id-block_2{
  float: left;
}




.view-all-blog-posts.view-display-id-block_2 div{
  width: 310px;
  margin-right: 26px;
}

#block-views-all_blog_posts-block_2{
  background: url('../images/border-bg.png') top repeat-x; 
  padding-top: 10px;
  margin-top: 20px;
}

* html + #block-views-all_blog_posts-block_2{
  float: left;
  background: yellow;
}



/* BLOG INDEX
------------------------ */

#block-views-all_blog_posts-block_1{
  clear: both;
  overflow: hidden;
}

.journal.page-ablogs .body-content #main{
  padding: 0;
}

.journal .body-content #main{
  padding: 0;
}

body.sidebar-right.journal #main{
  width:100% !important;
  padding:10px !important;
}

.journal .view-all-blog-posts.view-display-id-page_1 {
  width: 650px;
  margin-right: 20px;
  float:left;
}
  
.journal #sidebar-right {
  width: 300px !important;
}

.journal #blog-description {
  width:100%;
  height:40px;
}



.view-all-blog-posts .views-row {

}
  
.view-all-blog-posts .views-field-view-node{
  text-align:right;
  position:  relative;
  margin-top: -20px;
}

.view-all-blog-posts .views-field-view-node .field-content{
  padding:5px;
  font-size: 80%;
  background-color: #d6d6d6;
  margin-right:5px;
}


.panels-flexible-region-last .quicktabs_wrapper .view-blog-popular .views-field-field-blog-image-fid .field-content{
  float: left;
}

.view-all-blog-posts .views-field-title{
  line-height: 1.1;
  margin: 8px 0px 5px 0;
  
}
  
.view-all-blog-posts .views-field-title a{
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Montserrat', arial !important;
  letter-spacing: 1px;
  line-height: .9 !important;
}
  
.view-all-blog-posts .views-field-nothing,
.meta{
  margin: 6px 0 18px 0;
  color: #bc8d54;
  font-family: 'baskerville_fsitalic', georgia, 'times new roman';
  font-size: 16px;
  line-height: 1;

}

.view-all-blog-posts.view-display-id-page_1 .views-field-nothing{

}

#block-views-all_blog_posts-block_1 .view-all-blog-posts .views-field-nothing-1{
  margin-bottom: 0px;
  }

.view-all-blog-posts .views-field-nothing-1{
  clear: both;
  background: url('../images/border-bg.png') repeat-x;
  padding-top: 10px;
  margin-top: 15px;
  height: 29px;
  border-bottom: 1px solid #eedac0;
  padding-bottom: 10px;
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.journal .item-list ul{
  padding: 0;
}

.journal .item-list .pager{
  text-align: left;
}

.view-all-blog-posts .views-field-body{
  margin-bottom: 10px;
  font-family: calibri, arial;
  color: #47292b;
}

.view-all-blog-posts .views-row{
  clear: both;
  margin-bottom:15px;
}

.view-all-blog-posts .share-this-links{
  width: 400px;
  float: left;
}

.view-all-blog-posts .views-field-field-blog-image-fid{
  float: left;
  margin-right: 15px;  
}

.view-display-id-block_2.view-all-blog-posts .views-field-field-blog-image-fid img{

}

.view-all-blog-posts .views-field-field-blog-image-fid a{ 
  display: block;
  float: left;

  margin-bottom: 10px;
  }


.journal #event-info #block-sitesdropdown-1{
  display: none;
}


#block-block-44 a{
  font-size: 28px;
}


.node-type-blog .panel-flexible{
  float: left;
}


.read-more-link{
  float: right;
  width: 80px;
}

.read-more-link a{
  display: block;
  font-weight: bold;
  padding: 5px;
  width: 80px;  
  font-size: 12px;
  text-transform: uppercase;
}


.tvi-term-desc{
  margin: 8px 0;
  font-size: 16px;
  font-family: 'MrsEavesOT-Italic', georgia, 'times new roman';
  
}

/* BLOG SIDEBAR BLOCKS
------------------------ */


.panels-flexible-region-last .quicktabs_wrapper ul,
#sidebar-right .quicktabs_wrapper ul{
  margin: 0 0 9px 0;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #585858;
}

.panels-flexible-region-last .quicktabs_wrapper li,
#sidebar-right .quicktabs_wrapper li{
  margin-right: 10px;
}

.panels-flexible-region-last .quicktabs_wrapper ul a.qt_tab,
#sidebar-right .quicktabs_wrapper ul a.qt_tab{
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #d2b186;
  font-family: 'Montserrat', arial;
  line-height: 1;
  text-decoration: none;
}

.panels-flexible-region-last .quicktabs_wrapper ul li,
#sidebar-right .quicktabs_wrapperul li{
  margin-right: 10px;
}

.panels-flexible-region-last .quicktabs_wrapper ul .active a.qt_tab,
#sidebar-right .quicktabs_wrapper ul .active a.qt_tab{
  color: #402b2b;
}


.panels-flexible-region-last .quicktabs_wrapper .view-blog-popular .views-field-field-blog-image-fid .field-content,
#sidebar-right .quicktabs_wrapper .view-blog-popular .views-field-field-blog-image-fid .field-content{
  float: left;
  padding-right: 15px;
}

#quicktabs_tabpage_1_0 .views-row-1{
  border-top: none !important;
}

.panels-flexible-region-last .quicktabs_wrapper .view-blog-popular .views-row,
#sidebar-right .quicktabs_wrapper .view-blog-popular .views-row{
  clear:both;
  margin-bottom:5px;
  padding: 10px 0 0 0; 
  border-top: 1px dashed #d9d6d9;
  float: left;
  width: 280px;
}

.journal .panels-flexible-region-last .quicktabs_wrapper .view-blog-popular .views-row,
.journal #sidebar-right .quicktabs_wrapper .view-blog-popular .views-row{
  width: 300px !important;
}


.view-blog-popular .views-field-title{
  line-height: 1;
}

.view-blog-popular .views-field-title a{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', arial;
  line-height: 1.2;
  text-decoration: none;
}

.view-blog-popular .views-field-totalcount,
.view-blog-popular .views-field-created{
  font-size: 10px;
  color: #ccc;
  font-size: 11px;  
  
}

#block-quicktabs-1 h2{
  display: none;
}

/* BLOG NODE
------------------------ */

.node-type-blog .pane-node-title .pane-title{
  display: none;
}


.node-type-blog .panels-flexible-region-inside{
}

.node-type-blog .panels-flexible-region-first,
.view-all-blog-posts.view-display-id-page_1{
  width: 614px;
  margin-right: 36px;
  float: left;
}

.blog-title {
  color: #0E4815;
  font-size: 28px;
  line-height: 1.2em;
  margin: 15px 0 10px;
  text-transform: uppercase;
  font-family: 'dejavusansbold', arial;
  font-weight: bold;
}



.node-type-blog .share-this-links{
  margin: 15px 0;
  background: url('../images/border-bg.png') repeat-x;
  padding-top: 10px; 
}

.node-type-blog .views-row{
  font-family: calibri, arial;

}

#blogs-related td{
  width: 150px;
}

#blogs-related .views-field-title{
  line-height: 0.8;
}

#blogs-related .views-field-title a{
  text-transform: uppercase;
  font-size: 20px;
  color: #3b6b60;
  font-family: 'Montserrat', arial;
}

#blogs-related .views-field-name{
  font-size: 10px;
  color:#ccc;
}


.node-type-blog .panels-flexible-region-last{
  margin-top: 0 !important;
}


/* SIDEBAR BLOCKS
--------------------------------*/

.journal #sidebar-right .block,
.journal .photo-node-right .pane-block{
  padding: 10px 0;
  background: none;
  border: none;
}

/* BLOG DETAIL PAGE
--------------------------------*/

.pane-blog-related{
  background: url('../images/border-bg.png') top repeat-x;
  padding-top: 10px;
}

.pane-blog-related h2{
  margin-top: 15px;
}

/* BLOG CATEGORY PAGE
--------------------------------*/
.view-all-blog-posts.view-display-id-page_2 {
  width: 650px;
  margin-right: 20px;
  float: left;
}

#block-views-all_blog_posts-block_3,
#block-views-all_blog_posts-block_2 .content{
  background: url('../images/border-bg.png') bottom repeat-x;
  margin-bottom: 15px;
  padding-bottom: 15px;
  clear: both;
  float: left;
  width: 100%;
}

#block-views-all_blog_posts-block_2 .content{
  padding-bottom: 0;
}


/* BLOG FOOTER
--------------------------------*/

.journal .footer .footer-links{
  text-align: center;
  width: 66%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.journal .site-credits{
  padding-right: 20px;
}

.journal .footer .footer-links li{
  display: inline;
  padding: 0 20px;
  border-right: 1px solid #be9059;
}

.journal .footer .footer-links li.last{
  border: none;
}

.journal .footer .footer-links a{
  display: inline-block;
  font-family: calibri;
  font-size: 15px;
}

/* BLOG CHAKRA MENU
--------------------------------*/

#block-block-47 h2{
 font-size: 28px;
 text-align: center;
}

.termdescr {
  display: none;
  position: absolute;
  text-align: center;
  width: 270px;
  z-index: 9999;
  padding: 10px;
  top:284px;
  font-size: 12px;
  left: 10px;
  line-height: 1.4;
}

.deschiden a.toblog{
  height: 16px;
  width: 16px;
  position: absolute;
  left: 143px;  
  display: block;
  text-indent: -999em;
}

.categtitle{
  font-family: 'Montserrat', arial !important;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;
}

.deschiden:hover {
  cursor: pointer;
}

#block-block-44,
#block-block-47 {
    background: url('../images/chakra-menu.png') no-repeat center 47px !important;
   /* background-position: 50% 0;*/
    height: 352px;
    width: 300px  !important;
}


.deschiden.term238 a.toblog{
  top: 113px;
}

.deschiden.term241 a.toblog{
  position: absolute;
  left: 143px;
  top: 211px;
}

.deschiden.term239 a.toblog{
  position: absolute;
  top: 146px;
  left: 143px;
}

.deschiden.term236 a.toblog{
  position: absolute;
  top: 47px;
  left: 143px;
}

.deschiden.term237 a.toblog{
  top: 80px;
}

.deschiden.term240 a.toblog{
  top: 178px;
}

.deschiden.term242 a.toblog{
  top: 244px;
}

.deschiden a.toblog a{
  display: none;
}


/* BLOG SEARCH BOX
--------------------------------*/

.blog-search{
  margin-top: -12px;
}

#search-block-form-1 label{
  display: none;
}

.search-form .container-inline{
  clear: both;
  float: left;
  height: 50px;
  width: 100%;
}

.search-form #edit-keys-wrapper,
.blog-search .form-item{
  width: 228px;
  float: left;
  margin-right: 8px;

}

.search-form #edit-keys,
.blog-search input.form-text{
  background: url('http://9394bc4f934eb8c957d8-2f084e1f525b6270d41d6d2c79f4c609.r93.cf1.rackcdn.com/2013-images/site-sprite-v2.png');
  background-position: 0px -270px;
  width: 220px;
  height: 15px;
  padding: 5px;
  border: none;
 /* padding: 10px;
  text-indent: -999em;*/
  float: left;
}

.journal input.form-submit{
  background: url('http://9394bc4f934eb8c957d8-2f084e1f525b6270d41d6d2c79f4c609.r93.cf1.rackcdn.com/2013-images/site-sprite-v2.png');
  background-position: -238px -270px;
  width: 34px;
  height: 24px;
  border: none;
  text-indent: -999999em;
  display: block;
  position: relative;
  top: 14px;
  font-size: 1%;
}

/* BLOG SEARCH RESULTS
--------------------------------*/
.search-results .title{
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Montserrat', arial !important;
  letter-spacing: 1px;
  line-height: .9 !important;  
}

.box h2{
   font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Montserrat', arial !important;
  letter-spacing: 1px;
  line-height: .9 !important;   
}

.search-results dd{
  margin: 15px 0;
  background: url('../images/border-bg.png') bottom repeat-x;
  padding-bottom: 8px;
  margin-bottom: 25px;  
}

.journal .footer{
  margin-top: 50px;
}

.page-search .box {
  float: left;
  width: 684px;
}