.heading1{
  color: #326e39;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1.6;
  text-transform: uppercase;
  }
  
.heading2{
  color: #6ba265;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  }
  
hr{
  margin: 20px 0;
  border-bottom: 1px dotted #888772;
  background: none;
  }
  
.imgupl_floating_none_left{
  margin: 15px 0;
  }
  
.imgupl_floating_none_left img,
.imgupl_floating_left img,
.imgupl_floating_right img{
   -moz-box-shadow: 0 2px 4px #6d6d65;
   -webkit-box-shadow: 0 2px 4px #6d6d65;
   box-shadow: 0 2px 4px #6d6d65;
  }
  
.legal{
  font-size: 10px;
  }