 

/*
** Formatting for administration page
**
** The admin panel styles are a mess. IE has problems with this so this is
** only a temporary fix. This should be fixed in core.
*/


div.admin-panel {
  padding: 0;
}

div.admin-panel .body {
  padding: 0 !important;
}

div.admin .left,
div.admin .right {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

div.admin .right .admin-panel {
  margin-left: 10px;
}

#block-quicktabs-2 ul{
   height: 38px;
   border: solid 2px #bbb9aa;
   width: 895px;
  background: url(http://c282314.r14.cf1.rackcdn.com/website-images/2012.jpg) no-repeat;
  padding-left: 60px;
  padding-bottom: 0px!important;
}

#block-quicktabs-2 .content-container {
    padding: 0px 0px 0 !important;
}
#block-quicktabs-2 .container-16 .grid-10 {
    width: 948px;
    margin: 0;
}

#block-quicktabs-2 ul li a {
    background: none !important;
    border-color:  transparent!important;
    border-style: none;
    border-width: 0px;
    height: auto;
    margin:0;
   padding-left: 10px;
   padding-right: 10px;
    text-transform: uppercase;
    font-family: arial;
     font-size: 15px;
     color: #799d81;
    font-weight: 900;
}
#block-quicktabs-2 ul.quicktabs_tab li a.active,#block-quicktabs-2 ul.quicktabs_tab li a:hover{
  color:#156684;
}
#block-quicktabs-2 ul li {
    
    display: block;
    float: left;
    padding-top: 9px;
    padding-bottom: 6px;
    border-left-color:  #bdb8a5!important;
    border-left-style: solid;
    border-left-width: 1px;
 }
#block-quicktabs-2 .view-artist-landing2 td {
    padding: 0 25px 22px 0;
    width: 70px;
}
#block-quicktabs-2 .not-front #container {
    margin-top: 0px;
}
#block-quicktabs-2 ul li.active,#block-quicktabs-2 ul li:hover{
   background: url(/sites/all/themes/wanderlust/images/hover.jpg) repeat scroll 0 0 #dfddce !important;
}
#block-quicktabs-2 img{
/*  border: solid 1px #bdb8a5;*/
}
body#block-quicktabs-2 #header{
   background-image: url("http://c282314.r14.cf1.rackcdn.com/website-images/lineup_bg.png");
}

.page-lineup a active{
   color: #799D81;
}

.page-lineup .terms {display: none;}

.page-lineup #main {width: 950px!important;}

 .label[edit-tid-1]{
   color: #799D81;
}

.page-lineup .views-field-title{
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  }
  
.page-lineup .view-artist-landing2 td{
  width: 222px;
  padding-right: 16px;
  height: 190px;
  }

.view-artist-landing2 .view-empty{
  font-size: 11px;
  font-style: italic;
  padding: 0 0 20px 0;
  }

.page-lineup td.last{
  padding-right: 0px;
  }


.page-lineup .views-widget-filter-tid_1{
    color: #799D81;
    font-weight: normal;
}
.page-lineup #edit-tid-1{
   background-image: url("http://c282314.r14.cf1.rackcdn.com/website-images/filterby.jpg");
   width: 200px;
}

div.view-id-artist_landing div.viewsdisplaytabs-group-wrapper span.views-throbbing {
  background: transparent url("/sites/all/themes/wanderlust/images/ajax-loader.gif") center center no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 999;
}

div.view-id-artist_landing div.views-exposed-widgets span.views-throbbing {
  display: none;
}





