/* STYLESHEET FOR HEADER STYLES */


  
/* HEADER
----------------------------------*/	

#header{
  margin: 0;
  padding: 0;
  position: relative;
  height: 129px;
  }

.siteBanner{
  position: absolute;
  left: 280px;
  top: 24px;
}

.brooklyn .siteBanner,
.atlanta .siteBanner{
  left: 247px;
  top: 37px;
}


/* EVENT INFO
----------------------------------*/	



.item-date{
  margin-top: -39px;
  font-size: 19px;
  font-family: 'Roboto';
  font-weight: bold;
    }
  
.event-item-address-city {
  margin-top: 25px;
  font-weight: bold;
    font-size: 13px;
  letter-spacing: 0 !important;    
  
}

.event-item-address{
  font-size: 13px;
  font-weight: bold;  
  letter-spacing: 0 !important;
}
  
#block-sitesdropdown-1 .siteico {
  left: 1px;
  position: absolute;
  top: 0px;
  z-index: -1;
  }


.event-item{
  position: absolute;
  left: 0;
  width: 209px;
  height: 77px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #513319;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  top: 28px;
  background: url('../images/event-info-bg.png') no-repeat;
  text-align: center;
  text-transform: uppercase;
  padding-top: 11px;
}

.site-marker{
  display: none;
  background: url('http://9394bc4f934eb8c957d8-2f084e1f525b6270d41d6d2c79f4c609.r93.cf1.rackcdn.com/2013-images/event-type-icons.png') left 4px no-repeat;
  height: 45px;  
  width: 28px;
  float: left;
  margin-right: 10px;  
  margin-top: 5px;
}

.la .site-marker,
.sf .site-marker,
.nyc .site-marker{
  background-position: 0 -87px !important;
}




/* SITE MARKER ANIMATION
----------------------------------*/	

@-webkit-keyframes bob {
0%              {-webkit-transform: translate(0px,-2px);}
25%             {-webkit-transform: translate(0px,-8px);}
50%             {-webkit-transform: translate(0px,-1px);}
75%             {-webkit-transform: translate(0px,-3px);}
100%            {-webkit-transform: translate(0px,0px);}
}

@-moz-keyframes bob {
0%              {-moz-transform: translate(0px,-2px);}
25%             {-moz-transform: translate(0px,-8px);}
50%             {-moz-transform: translate(0px,-1px);}
75%             {-moz-transform: translate(0px,-3px);}
100%            {-moz-transform: translate(0px,0px);}
}


.site-marker:hover{
  -webkit-animation: bob 1s;
  -moz-animation: bob 1s;  
  -o-animation: bob 1s;    
  animation: bob 1s; 
}


/* GLOBAL SPLASH CALLOUT
----------------------------------*/	
.tomap {
  position: absolute;
  top: 26px;
  right: 0px;
  }

.tomap a.buy-tickets{
  display: block;
  text-indent: -999em;
  background: url('../images/buy-tickets.png');
  width: 219px;
  height: 76px;
}

.tomap a.register-now{
  display: block;
  text-indent: -999em;
  background: url('../images/register-now.png');
  width: 219px;
  height: 76px;
}


.tomap a:hover{
  background-position: 0 -78px;
 
  }


/* NAVIGATION
----------------------------------*/	

#navigation{
  background: url('http://9394bc4f934eb8c957d8-2f084e1f525b6270d41d6d2c79f4c609.r93.cf1.rackcdn.com/2013-images/section-border-bg.png') repeat-x;
  z-index: 40;
  position: relative;
  margin: 0 0 10px -1px;
  }

#navigation ul.nice-menu{
 	width: 100%;
	margin: 0 0 0 0px;
 	display: block !important;
	padding: 0;
  background: url('http://9394bc4f934eb8c957d8-2f084e1f525b6270d41d6d2c79f4c609.r93.cf1.rackcdn.com/2013-images/section-border-bg.png') bottom repeat-x;
 	}
 
#navigation ul li{
 	border: none;
 	line-height: 1;
  float: left;
 	cursor: pointer;
}

#navigation ul ul{
 	top: 30px;
	padding: 3px 10px;
	width: 195px;
	left: 0;
color: #ffffff;
background-color: #3b6b60;
	
	}

#navigation ul.nice-menu,
#navigation ul.nice-menu ul{
  list-style: none;
  z-index: 999 !important;
	}

#navigation,
#header{
  position: relative;
  z-index: 99 !important;
  }
 
 
/* PARENT ITEMS
----------------------------------*/	


 
#navigation ul li.last a{
	background: none;
	border-right: none !important;
	}

#navigation ul.nice-menu li a:hover,
#navigation ul.nice-menu li.over > a,
#navigation ul.nice-menu li.over > .nolink{
  color: #402b2b;
	}
 

/* CHILD ITEMS
----------------------------------*/	

#navigation ul.nice-menu ul li{
	background: none !important;
	display: block;
	float: none !important;
	clear: left;
 	height: auto !important;
 	border: none !important;
 	padding: 0 !important;
  margin: 0 !important;
 	}
 
#navigation ul.nice-menu ul li a{
  width: 196px !important;
	background: none !important;
 	color: #e7e9d5;
	overflow: visible;
	font-weight: bold !important;
	font-size: 14px;
	clear: left;
	float: left;
	border-right: none !important;
  border-bottom: 1px solid #255248;
	padding: 10px 0 7px 0 !important;
	margin: 0 !important;
	position: relative;
	z-index: 999;
  }

#navigation ul.nice-menu ul li a:hover{
  color: #fff;  
}


#navigation ul.nice-menu li ul li.first a,
#navigation ul.nice-menu li.first li a{
	padding-left: 0px !important;
 	}

#navigation ul ul li.last a{
  border: none !important;
  }


.social-media-links{
  top: 5px;
  position: absolute;
  right: 0;
  z-index: 10;
  }

.social-media-links a{
  background: url('http://9394bc4f934eb8c957d8-2f084e1f525b6270d41d6d2c79f4c609.r93.cf1.rackcdn.com/2013-images/site-sprite.png');
  display: block;
  float: left;
  width: 22px;
  text-indent: -999em;
  height: 19px;
  margin-right: 8px;
  }
  
.social-media-links .facebook{
  background-position: 0 0px;
  width: 10px;
  }  

.social-media-links .facebook:hover{
  background-position: 0 -22px;
  }  

.social-media-links .twitter{
  background-position: -20px 0px;
  }  

.social-media-links .twitter:hover{
  background-position: -20px -22px;
  }  

.social-media-links .instagram{
  background-position: -50px 0px;
  }  

.social-media-links .instagram:hover{
  background-position: -50px -22px;
  }   

.social-media-links .youtube{
  background-position: -79px 0px;
  }  

.social-media-links .youtube:hover{
  background-position: -79px -22px;
  }    
  
.social-media-links .emailIcon{
  background-position: -110px 0px;
  cursor:pointer;
  }  

.social-media-links .email:hover{
  background-position: -110px -22px;
  }    
  
 

/* EVENT BANNER
----------------------------------*/	

#block-sitesdropdown-2  .content {
  margin: 10px 0 -4px 10px;
  width: 436px;
  text-align: center;
}

#block-sitesdropdown-2  .content span {
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.pane-content a.hid{
  display: none!important;
}

/*Email header*/
.joincontent {
    position: absolute;
    top: 192px;
    left: 439px;
    z-index: 200;
    display: none;
}

#mytable{
  width: 420px;
  margin: 2px 141px;
}