.mark.studio {
    height: 17px;
    width: 17px;
}

#legend3 .legendtitle {
    position: relative;
    right: 5px;
}

.mark.studio:hover {
    background: url(/sites/all/themes/wanderlust/images/studio_icon.png) no-repeat!important;
    -webkit-transform: rotate(360deg);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    transform: rotate(360deg);
    transition-timing-function: ease-out;
    transition-duration: 500ms;
}

.wanderfest #container {
    height: 1130px;
    width: 1870px;
}

.wanderfest #map-1-container {
    position: relative;
    height: 1130px;
    width: 1870px;
}

.not-logged-in.wanderfest #main {
    display: block !important;
}

.map-viewport {
    border: 1px solid black;
    margin: 0 0 20px;
    position: relative;
	height: 1130px;
    width: 1870px;
   
}

#map-1 .mark.highlight1 {
    background-color: #CEA430 !important;
}




#legend {

top: 252px;
left: 35px;

}
