

/* LIST VIEW MOBILE STYLES
----------------------------------- */

@font-face {
    font-family: 'revolution';
    src: url('http://9394bc4f934eb8c957d8-2f084e1f525b6270d41d6d2c79f4c609.r93.cf1.rackcdn.com/2013-fonts/revolution-webfont.eot');
    src: url('http://9394bc4f934eb8c957d8-2f084e1f525b6270d41d6d2c79f4c609.r93.cf1.rackcdn.com/2013-fonts/revolution-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://9394bc4f934eb8c957d8-2f084e1f525b6270d41d6d2c79f4c609.r93.cf1.rackcdn.com/2013-fonts/revolution-webfont.woff') format('woff'),
         url('http://9394bc4f934eb8c957d8-2f084e1f525b6270d41d6d2c79f4c609.r93.cf1.rackcdn.com/2013-fonts/revolution-webfont.ttf') format('truetype'),
         url('http://9394bc4f934eb8c957d8-2f084e1f525b6270d41d6d2c79f4c609.r93.cf1.rackcdn.com/2013-fonts/revolution-webfont.svg#revolutionrevolution') format('svg');
    font-weight: normal;
    font-style: normal;
}


.splash-mobile{
  width: 100%;
  background: #f8fff3;
  display:block;
}

.header{
  background: #dbe7d7;
  width: 100%;
}
html{
  height: 100%;
}

body{
  padding: 0 0 300px 0;
  margin: 0;
  font-family: arial;
  color: #3b6b60;
  font-size: 12px;
}

h1{
  color: #47292b;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 10px;  

}

h1 img{
  width: 95%;
  display: block;
}

h2{
  background: #bf9d6a;
  text-transform: uppercase;
  font-size: 1em;
  padding: 2px 10px 8px 10px;
  margin: 0;  
  color: #f8fff3;
  font-family: 'revolution';
  border-top: 4px solid #e4c79b;
  font-weight: normal;
  
}

.section{
  color: #3b6b60;
  font-family: calibri, arial !important;
  font-weight: normal;
}

.section ul{
  margin: 0;
  padding: 0;
}

.section li,
.bl{
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #416b5f;
  padding: 8px 10px;
}

.section a{
  color: #3b6b60;
  text-decoration: none;
  display: block;  
}


.section p{
  margin: 0;
  font-size: 1.5em;
  padding: 0;
}

.site-title a,
.bl a{
  margin: 0px 0 5px 0;
  text-transform: uppercase;
  font-family: 'revolution';
  font-size: 2.1em !important;
  font-weight: normal;
  line-height: 1;
  padding: 0;
  color: #3b6b60 !important;
}

.toolbar{
  padding-bottom: 30px;
}

.toolbar ul{
  padding: 0 0;
  background: #8e5d08;
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0px;
  z-index: 10;
}

.toolbar li{
  display: inline;
}

.toolbar li a{
  font-size: 1.5em;
  color: #f8fff3;
  background: #8e5d08;
  padding: 5px 0 14px 0;
  width: 33%;  
  display: block;
  float: left;
  border-right: 2px solid #f8fff3;
  text-align: center;
  font-family: 'revolution';
  text-decoration: none;
  font-weight: normal;
  border-top: 4px solid #efd6b1;
  line-height: 1;
}

.toolbar li.last a{
  border-right: none;
  }

.content{
  display: none;
  position: fixed;
  background: #cb9e4f;
  width: 100%;
  top: 0;
  padding: 40px 0;
  height: 100%;
  z-index: -2;
  font-size: 1em;
  text-align: center;
  padding-top: 60px;
  color: #fff;
}

.toolbar .wrapper{
  margin: 0 auto;
  width: 90%;
}

.close{
  background: url('../images/splash-mobile-close.png');
  height: 28px;
  width: 28px;
  display: block;
  top: 30px;
  position: absolute;
  right: 30px;
}

h5{
  font-size:1.5em;
  font-family: 'revolution';
  padding: 0;
  margin: 0 0 25px 0;
  font-weight: normal;
}

.ui-loader{
  display: none;
}

.hide {
display:none;
}

/* CSS OVERRIDES
----------------------------------- */

.site-tickets,
.site-register{
  display: none;
}

#container{
  overflow: visible;
}

.siteevent,
.siteaddress,
.item-date{
  line-height: 1;
  font-family: 'calibri', helvetica, arial;
  color: #3b6b60 !important;
  margin: 0;
  font-size: 12px !important;
}

.bl{
  float: none;
  margin: 0;
  position: static;
  width: auto;
}

.siteaddress{
  display: inline;
  margin-right: 10px;
}

.siteaddress.venue{
 
}

.bl br{
  display: none;
}