

#map-1-container .mark {
  position: relative;
  z-index: 100;
}

#map-1 .mark.squaw {
  top: 154px;
  margin-left: 510px;
  
}

#map-1 .mark.stratton {
   margin-left: 565px;
   top:47px;
}

#map-1 .mark.cosmopolitan {
   top: 150px;
   margin-left: 640px;
}

#map-1 .mark.standard {
   top: 50px;
   margin-left: 280px;
}

#map-1 .mark.phoenix {
   top: 200px;
   margin-left: 450px;
}

#map-1 .mark.dallas {
   top: 280px;
   margin-left: 570px;
}

#map-1 .mark.atlanta {
   top: 220px;
   margin-left: 470px;
}

#map-1 .mark.nyc {
   margin-left: 1023px;
   top: 274px;
}

#map-1  .mark.sf {
   margin-left: 475px;
   top: 148px;
}

#map-1 .mark.chicago {
   top: 255px;
   margin-left: 480px;
}

#map-1 .mark.la {
   margin-left: 450px;
   top: 196px;
}

#map-1 .mark.williamsburg {
   top: 210px;
   margin-left: 350px;
}

#map-1 .mark.mygroup {
   top: 150px;
   margin-left: 650px;
}

#map-1 .mark.colorado {
  margin-left: 550px;
  top: 120px;
}

#map-1 .mark.whistler {
  margin-left: 503px;
  top: 240px;
}

#map-1 .mark.oahu {
    margin-left: 550px;
    top: 169px;
}

#map-1 .mark.chile {
    margin-left: 720px;
    top: 162px;
}

#map-1-container{ position:relative; width: 1170px; height: 495px; overflow:hidden; }
#map-1{ cursor: move; width: 2146px; height:1170px; position:absolute; left:0; top:0; }
.level{ position:absolute; left:0; top:0; z-index:10;}
.current-level{ z-index:20; }

.map-viewport {
    border: 1px solid black;
    height: 503px;
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
    width: 1170px;
}


#map {
   background: url(../images/map2.png) no-repeat;
   background-position: 50% 0;
    height: 810px;
    width: 994px;
}



.innersite:hover {
  cursor: pointer;
  z-index:999;
}

.mark {
 
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 1;  
}

.mark.festival{
   background: url(../images/festival_ico.png) no-repeat;
}

.mark.yoga{
   background: url(../images/yoga_icon.png) no-repeat;
}

.mark.studio{
   background: url(../images/studio_icon.png) no-repeat;
}

.wanderfest #container {
 width:1350px;   
}


/* MARKER HOVERS
---------------------------------*/

.innersite {
  display: none;
  background-color: #FFFFFF;
  width: 200px;
  height: 160px;
  border-radius: 8px;
  position: absolute;
  z-index: 999999 !important;
  border: 1px solid #b69866;
  padding: 8px;
  text-align: center;
  font-family: 'MrsEavesOT-Italic';
  font-style: italic;
  margin-left: 30px;
}

.site-title {
  font-weight: bold !important:
  font-size: 16px;
  text-transform: uppercase;
  font-family: revolution;
  font-style: normal;
}

.siteaddress {
  font-family: 'MrsEavesOT-Italic';
  font-style: italic;
  color: #c04b0d !important;
}

.siteevent {
  font-family: 'MrsEavesOT-Italic';
  font-style: italic;
  color: #c04b0d !important;
}

.visitsite a{
  color: #3d8283 !important;
  font-family: revolution;
  font-style: normal;
}