

#map-1-container .mark {
  position: relative;
  z-index: 100;
}

#map-1 .mark.squaw {
  top: 154px;
  margin-left: 510px;
  
}

#map-1 .mark.stratton {
   margin-left: 565px;
   top:47px;
}

#map-1 .mark.cosmopolitan {
   top: 150px;
   margin-left: 640px;
}

#map-1 .mark.standard {
   top: 50px;
   margin-left: 280px;
}

#map-1 .mark.phoenix {
   top: 200px;
   margin-left: 450px;
}

#map-1 .mark.dallas {
   top: 280px;
   margin-left: 570px;
}

#map-1 .mark.atlanta {
   top: 220px;
   margin-left: 470px;
}

#map-1 .mark.nyc {
   margin-left: 1023px;
   top: 274px;
}

#map-1  .mark.sf {
   margin-left: 475px;
   top: 148px;
}

#map-1 .mark.chicago {
   top: 255px;
   margin-left: 480px;
}

#map-1 .mark.la {
   margin-left: 450px;
   top: 196px;
}

#map-1 .mark.williamsburg {
   top: 210px;
   margin-left: 350px;
}

#map-1 .mark.mygroup {
   top: 150px;
   margin-left: 650px;
}

#map-1 .mark.colorado {
  margin-left: 550px;
  top: 120px;
}

#map-1 .mark.whistler {
  margin-left: 503px;
  top: 240px;
}

#map-1 .mark.oahu {
    margin-left: 550px;
    top: 169px;
}

#map-1 .mark.chile {
    margin-left: 1170px;
    top: 352px;
}

/*#map-1-container{ position:relative; width: 1350px; height: 495px; overflow:hidden; }*/
#map-1{ cursor: move; width: 2146px; height:1170px; position:absolute; left:0; top:0; }
.level{ position:absolute; left:0; top:0; z-index:10;}
.current-level{ z-index:20; }

/*.map-viewport {
    border: 1px solid black;
    height: 530px;
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
    width: 1350px;
}*/


#map {
   background: url(../images/map2.png) no-repeat;
   background-position: 50% 0;
    height: 810px;
    width: 994px;
}



.innersite:hover {
  cursor: pointer;
  z-index:999;
}

.mark {
 
  height: 23px;
  width: 24px;
  cursor: pointer;
  z-index: 1;  
  padding: 1px;
}

.mark.festival{
   background: url(../images/festival_ico.png) no-repeat;
}

.mark.festival:hover{
   background: url(../images/festival_ico.png) no-repeat;
   z-index:103 !important;
}

.mark.yoga{
   background: url(../images/yoga_icon.png) no-repeat;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

#legend2 .mark.yoga:hover {
    -webkit-animation: rotating 1.3s linear infinite;
}




.mark.yoga:hover{
     z-index:103 !important;
     background: url(../images/yoga_icon.png) no-repeat;
   	-webkit-transform: rotate(360deg);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	-moz-transform: rotate(360deg);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-ms-transform: rotate(360deg);
	-ms-transition-timing-function: ease-out;
	-ms-transition-duration: 500ms;
}


.mark.studio{
   background: url(../images/studio_icon.png) no-repeat;
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out; 
	-ms-transition: all .3s ease-in-out; 
   height: 50px;
   width: 50px;
}

.mark.studio:hover{
   background: url(../images/studio_icon-hover.png) no-repeat;
   z-index:103 !important;
 
}

/*(.wanderfest #container {
 width:1350px;   
}*/


/* MARKER HOVERS
---------------------------------*/

.innersite {
  display: none;
  background-color: #FFFFFF;
  width: 200px;
  height: 160px;
  border-radius: 8px;
  position: absolute;
  z-index: 999999 !important;
  border: 1px solid #b69866;
  padding: 8px;
  text-align: center;
  font-family: 'MrsEavesOT-Italic';
  font-style: italic;
  margin-left: 30px;
}

.site-title {
  font-weight: bold !important:
  font-size: 16px;
  text-transform: uppercase;
  font-family: revolution;
  font-style: normal;
}

.siteaddress {
  font-family: 'MrsEavesOT-Italic';
  font-style: italic;
  color: #c04b0d !important;
}

.siteevent {
  font-family: 'MrsEavesOT-Italic';
  font-style: italic;
  color: #c04b0d !important;
}

.visitsite a{
  color: #3d8283 !important;
  font-family: revolution;
  font-style: normal;
}

#legend {
    background-image: url(/sites/all/themes/wanderlust/images/legend.png);
   
    width: 410px;
    height: 244px;
    position: absolute;
    z-index: 200;
    top: 192px;
    left: 439px;
    cursor: pointer;
}

#legend1 {
    margin-top: 101px;
    
    margin-left: 36px;
}

#legend2 {
    margin-left: 63px;
    
    margin-top: -2px;
}

#legend3 {
    margin-left: 32px;
    
    margin-top: 2px;
}

#legend1 .mark {
  float: left;
}

#legend2 .mark{
  float: left;
  margin: 0 0 0 -34px;
}

#legend3 .mark {
  float: left;
}

#legend3 .legendtitle {
    position: relative;
    
    right: 23px;
}

#legend .legendtitle {
    font-weight: bold;
    text-transform: uppercase;
    color: #603220;
    width: 319px;
}

.highlight {
  background-color: #F9C125;
  -moz-border:radius:5px;
  border-radius:5px;

}

#joinmail {

   background-image: url(/sites/all/themes/wanderlust/images/email.png);
    width: 321px;
    height: 132px;
    position: absolute;
    z-index: 200;
    top: 152px;
    left: 950px;
   

   cursor: pointer;

}

#joinmail .title {
    color: #603220;
    font-family: 'MrsEavesOT-Italic';
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin: 10px 0 8px 12px;
    text-align: left;
}

#joinmail .touch {
  background-image: url(/sites/all/themes/wanderlust/images/kepp_touch.png);
  width: 314px;
  height: 13px;
   margin: -20px 0 0;
}
#emailClick {
height: 29px;
width: 294px;    
cursor: text;
position: relative;
top: 54px;
margin-left: 12px;
}


.joincontent {
    position:absolute;
     top: 192px;
    left: 439px;
    z-index: 200;
    display: none;
}


.wanderfest #container {
    height: 700px;
    width: 1350px;
}

.wanderfest #map-1-container {
    height: 700px;
    overflow: hidden;
    position: relative;
    width: 1350px;
}
.wanderfest #main {
    display: none;
}
.map-viewport {
    border: 1px solid black;
    height: 700px;
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
    width: 1350px;
}

div.mark.festival.legendNo.highlight {
   background-color: #CEA430;
   border-radius:3px;

}

div.mark.festival.legendNo.highlight {
   background-color: #CEA430;
   border-radius:3px;

}
div.mark.yoga.legendNo.highlight {
   background-color: #CEA430;
   border-radius:3px;

}
div.mark.studio.legendNo.highlight {
   background-color: #CEA430;
   border-radius:3px;

}


#map-1 .mark.highlight1 {
   background-color: #CEA430;
  border-radius:3px;
  -moz-morder-radius: ;
  -webkit-transform: rotate(360deg);
  -webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;

}



