/* STYLESHEET FOR @FONT-FACE DECLARATIONS AND MAJOR TYPE STYLES */


/* FONT-FACE DECLARATIONS
----------------------------------*/	

/*@font-face {
    font-family: 'revolution';
    src: url('../fonts/revolution-webfont.eot');
    src: url('../fonts/revolution-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/revolution-webfont.woff') format('woff'),
         url('../fonts/revolution-webfont.ttf') format('truetype'),
         url('../fonts/revolution-webfont.svg#revolutionrevolution') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
		font-family: 'MrsEavesOT-Italic';
		src: url('../fonts/mrseavesotitalic.eot');
		src: url('../fonts/mrseavesotitalic.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/mrseavesotitalic.woff') format('woff'),
				 url('../fonts/mrseavesotitalic.ttf') format('truetype'),
				 url('../fonts/mrseavesotitalic.svg#mrseavesotitalic') format('svg');
		font-weight: normal;
		font-style: normal;
}


@font-face {
		font-family: 'MrsEavesOT-Bold';
		src: url('../fonts/mrseavesotbold.eot');
		src: url('../fonts/mrseavesotbold.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/mrseavesotbold.woff') format('woff'),
				 url('../fonts/mrseavesotbold.ttf') format('truetype'),
				 url('../fonts/mrseavesotbold.svg#mrseavesotbold') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'MrsEavesOT-Roman';
		src: url('../fonts/mrseavesotroman.eot');
		src: url('../fonts/mrseavesotroman.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/mrseavesotroman.woff') format('woff'),
				 url('../fonts/mrseavesotroman.ttf') format('truetype'),
				 url('../fonts/mrseavesotroman.svg#mrseavesotroman') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
  font-family:"RexBold";
  src:  url("../fonts/Rex_Bold.eot") format("eot"),
        url("../fonts/Rex_Bold.woff") format("woff"),
        url("../fonts/Rex_Bold.ttf") format("truetype"),
        url("../fonts/Rex_Bold.svg#RexBold") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
    font-family: 'DejaVuSansBold';
    src: url('../fonts/DejaVuSans-Bold-webfont.eot');
    src: url('../fonts/DejaVuSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-Bold-webfont.svg#DejaVuSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaVuSansBook';
    src: url('../fonts/DejaVuSans-webfont.eot');
    src: url('../fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-webfont.svg#DejaVuSansBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansOblique';
    src: url('../fonts/DejaVuSans-Oblique-webfont.eot');
    src: url('../fonts/DejaVuSans-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-Oblique-webfont.woff') format('woff'),
         url('../fonts/DejaVuSans-Oblique-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSans-Oblique-webfont.svg#DejaVuSansOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lhf_egyptianregular';
    src: url('../fonts/lhfegyptian-webfont.eot');
    src: url('../fonts/lhfegyptian-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lhfegyptian-webfont.woff') format('woff'),
         url('../fonts/lhfegyptian-webfont.ttf') format('truetype'),
         url('../fonts/lhfegyptian-webfont.svg#lhf_egyptianregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





/* GLOBAL TYPE 
----------------------------------*/	

body {
  font-family: calibri, helvetica, arial;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #0b1d0d;
  }

body strong{
  font-weight: bold;
}

body em{
  font-style: italic;  
}

/* PAGE NODE TYPE
----------------------------------*/	


h1.title,
.node-type-blog .pane-node-title .pane-content{
  color: #402b2b;
  font-size: 34px;
  line-height: 0.8em;
  margin: 8px 0 8px;
  text-transform: uppercase;
  font-family: 'lhf_egyptianregular', arial;
  letter-spacing: 1px;
  font-weight: normal !important;
  }


.heading1{
  color: #416647;
  font-size: 28px !important;
  font-weight: normal;
  margin-bottom: 5px;
  line-height: 1.6;
  text-transform: uppercase;
  font-family: 'lhf_egyptianregular', arial;
  letter-spacing: 1px;
  }
  
.heading2{
  color: #6ba265;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.6;
  text-transform: uppercase;
  font-family: 'lhf_egyptianregular', arial;
  letter-spacing: 1px;
}
  
.page-body p {
  margin: 0;
  padding: 0;

}

.page-body,
.node-type-artists .panel-col-first .pane-node-body{
  font-size: 14px;
  line-height: 1.6em;
  color: #474747;
}


.views-field-field-bands-url-value a{
  font-family: 'lhf_egyptianregular', arial !important;
  font-size: 20px;  
}
  
article h2,
article h2 a,
.pane-photos .view-display-id-page_1 li.views-row,
.pane-videos .view-display-id-page_1 li.views-row{
  font-size: 24px;
	margin-top: 5px; 
	margin-bottom: 5px;
  font-family: 'lhf_egyptianregular', arial;
	line-height: 0.9;
	text-transform: uppercase;
  }
  
  
#main .node-type-blog h2{
  font-family: 'lhf_egyptianregular', arial !important;
  font-size: 30px !important;   
  color: #388688;
  text-transform: uppercase;
  line-height: 1;
  margin: 10px 0 !important;
  
}

.pane-blog-related{
  margin: 30px 0;
}

h2.pane-title{
  font-family: 'lhf_egyptianregular', arial !important;
  font-size: 26px;
  text-transform: uppercase;  
  color: #6ba265;
  margin-bottom: 4px;
}