/* STYLESHEET FOR @FONT-FACE CUSTOM TYPOGRAPHY */



@font-face {
    font-family: 'revolution';
    src: url('../fonts/revolution-webfont.eot');
    src: url('../fonts/revolution-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/revolution-webfont.woff') format('woff'),
         url('../fonts/revolution-webfont.ttf') format('truetype'),
         url('../fonts/revolution-webfont.svg#revolutionrevolution') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
		font-family: 'MrsEavesOT-Italic';
		src: url('../fonts/mrseavesotitalic.eot');
		src: url('../fonts/mrseavesotitalic.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/mrseavesotitalic.woff') format('woff'),
				 url('../fonts/mrseavesotitalic.ttf') format('truetype'),
				 url('../fonts/mrseavesotitalic.svg#mrseavesotitalic') format('svg');
		font-weight: normal;
		font-style: normal;
}



@font-face {
  font-family:"RexBold";
  src:  url("../fonts/Rex_Bold.eot?") format("eot"),
        url("../fonts/Rex_Bold.woff") format("woff"),
        url("../fonts/Rex_Bold.ttf") format("truetype"),
        url("../fonts/Rex_Bold.svg#RexBold") format("svg");
  font-weight:normal;
  font-style:normal;
}
