/* - - - - - - - - - - - - - - - - - - - - -

 Title : Wanderlust 2012 - Wufoo
 Author : Root Down
 URL : http://wanderlustfestival.com

 Last Updated : 7/20/12

- - - - - - - - - - - - - - - - - - - - - */



li.yogaaid section{
  font-size: 40px !important;
  background: blue !important;
}


section{
  background: red !important;
}

h2{
  font-size: 100px;
}