/* CREATE CONTENT PAGE
----------------------------------*/	

.node-type-list dt a{
	font-size: 14px;
	}

.node-type-list dd{
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #ccc;
	font-style: italic;
	font-size: 11px;
	color: #9c9c9c;
	}