
.wanderfest #container {
    height: 1130px;
    width: 1870px;
}

.wanderfest #map-1-container {
    position: relative;
    height: 1130px;
    width: 1870px;
}

.not-logged-in.wanderfest #main {
    display: block !important;
}

.map-viewport {
    border: 1px solid black;
    margin: 0 0 20px;
    position: relative;
	height: 1130px;
    width: 1870px;
   
}


#legend {
top: 220px;
left: 35px;
position:absolute;
}

input[type=checkbox] {width:30px; height:30px;}

#toolbar {
position: absolute;
right: 0px;
bottom: 10px;
z-index: 999;
width: 520px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

