<<<<<<< HEAD
=======
/* $Id: node-rtl.css,v 1.3 2007/11/27 12:09:26 goba Exp $ */
>>>>>>> 11c42aacd2cce208210c8578843c892e1112f1a8

#node-admin-buttons {
  float: right;
  margin-left: 0;
  margin-right: 0.5em;
  clear: left;
}
